fieldset {
  display: flex;
  flex-direction: column;

  gap: 10px;

  label {
    font-size: 14px;
    font-family: 'Comfortaa', 'Arial', sans-serif;
    font-weight: 400;
    color: var(--color-gray-dark);
  }

  select {
    border-radius: 5px;
    height: 40px;
    padding: 0 10px;
    border: 1px solid var(--color-gray-dark);

    background-color: var(--color-gray);
  }
}
